body {
    background-color: bisque;
    font-family: 'Poppins', sans-serif;

}

/* -------------------- */

/* GOOGLE FONT  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* UTLITIES  */
.container {
    width: 1090px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

/* --------------- */


header {
    height: 520px;
}

.head-banner {
    background-color: #212126;
    display: flex;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head-text h1 {
    font-size: 65px;
    color: cornsilk;
}


.head-text p {
    font-size: 1.1em;
    font-weight: 500;
    color: honeydew;
    margin-top: -20px;
}

.head-text a {
    background: tomato;
    padding: 10px 20px;
    border-radius: 7px;
}

.head-img img {
    height: 480px;
}

/* 
            MAIN START 
 */



main {}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    gap: 25px;
}

.left {
    background-color: blueviolet;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left a {
    background: wheat;
    padding: 14px 20px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
















.right {
    background-color: #e3e1e9;
    height: auto;
    width: auto;
}

.news-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    width: 100%;
}

.feed {}

.feed {
    border: 1px solid;
    border-radius: 10px;
}

.feed-img img {
    height: 145px;
    width: 100%;
}

.play-update {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    margin-top: 10px;
}

.feed-info a {
    background: #fffcf6;
    border-radius: 5px;
    padding: 4px 13px;
    color: black;
    text-decoration: none;
    border: 1px solid;
    font-weight: 500;
    font-size: 16px;
}

.feed-info h6 {
    font-size: 1em;
    margin: 15px 0px 7.5px 0px;
}

.time-update {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -22px;
    gap: 25px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
}

/* FOOTER START  */



footer {
    background-color: #212126;

    height: 400px;
    margin-top: 20px;
}

.footer-head {}

.footer-nav {}