body {
    background-color: #d0d3eb;
    font-family: 'Poppins', sans-serif;
    margin: auto
}

/* -------------------- */

/* GOOGLE FONT  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* UTLITIES  */
.container {
    width: 1090px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

/* --------------- */


header {
    height: 520px;
}

.head-banner {
    background-color: #212126;
    display: flex;
    padding: 40px 40px 0px 40px;
    border-radius: 20px;
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head-text h1 {
    font-size: 65px;
    color: cornsilk;
}


.head-text p {
    font-size: 1.1em;
    font-weight: 500;
    color: honeydew;
    margin-top: -20px;
}

.head-text a {
    background: #da2323;
    padding: 10px 20px;
    border-radius: 7px;
    color: blanchedalmond;
    text-decoration: none;
}

.head-img {
    width: 100%;
    height: 100%;

}

.head-img img {
    height: 100%;
    width: 100%;
}

/* 
            MAIN START 
 */



main {}

.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    gap: 25px;
}

.left {
    background-color: blueviolet;
    height: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.match-info {
    background: beige;
    height: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.left a {
    background: #1d1540;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: floralwhite;
}














.right {
    /* background-color: rgb(227, 225, 233); */
    height: auto;
    width: auto;
}

.news-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    width: 100%;
}


.feed {
    /* border: 1px solid; */
    border-radius: 10px;
}

.feed-img img {
    height: 145px;
    width: 100%;
}

.play-update {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    margin-top: 10px;
}

.feed-info a {
    background: #D0D3F4;
    border-radius: 5px;
    padding: 4px 13px;
    color: black;
    text-decoration: none;
    border: 1px solid;
    font-weight: 500;
    font-size: 16px;
}

.feed-info h6 {
    font-size: 1em;
    margin: 15px 0px 7.5px 0px;
}

.time-update {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -22px;
    gap: 25px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 5px;
}

/* FOOTER START  */



footer {
    background-color: #212126;
    height: auto;
    padding: 31px;
    margin-top: 50px;
}

.footer-head {}

.footer-head h2 {
    color: #e3e1e9;
    font-size: 2em;
    text-align: center;

}




.footer-nav {
    margin-top: 60px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-nav a {
    color: bisque;
    text-decoration: none;
    padding: 4px;
    font-weight: 500;
}

.connect-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.connect-social h2 {
    color: brown;
}

.social {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social a {
    color: white;
}